#aboutUs{
	.image-profile{
		width: 20%;
	}
	.description{
		width: 70%;
	}
	div{
		float: left;
		margin-left: 10px;
		margin-bottom: 20px;
	}
}

.modal-content{
	overflow-y: scroll;
	height: 400px;
	padding: 15px;
}