$gray: #fafafa;
$red: #c00;
$fontstack: Montserrat, Helvetica, sans-serif;

h1{
	font-family: Montserrat, Helvetica, sans-serif;
	color: #000;
	text-shadow: #000;
}

.jumbotron{
	&:after{
		background: url(../img/header.jpg) no-repeat 0 0;
		background-size: cover;
	}
}