/* line 45, ../sass/_screen.scss */
body {
  font-family: Montserrat, Helvetica, sans-serif;
}

/* line 50, ../sass/_screen.scss */
.jumbotron:after {
  background: url(../img/header.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}
/* line 55, ../sass/_screen.scss */
.jumbotron.masthead {
  background: none;
  padding: 80px 0;
}
/* line 59, ../sass/_screen.scss */
.jumbotron p {
  float: right;
  margin-top: 3rem;
  width: 100%;
}
/* line 63, ../sass/_screen.scss */
.jumbotron p a {
  margin: 0 auto;
}
/* line 67, ../sass/_screen.scss */
.jumbotron h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #fff;
  text-shadow: none;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  margin: 0px 32px 0px 0px;
  margin: 0rem 2rem 0rem 0rem;
  width: 100%;
  float: right;
}
/* line 77, ../sass/_screen.scss */
.jumbotron .header-text {
  width: 34rem;
  float: right;
}

/* line 83, ../sass/_screen.scss */
.measurements {
  margin-top: 2rem;
  width: 32rem;
  float: left;
}
/* line 87, ../sass/_screen.scss */
.measurements h3 {
  text-align: center;
  margin-bottom: 1rem;
}

/* line 93, ../sass/_screen.scss */
form {
  width: 9rem;
  float: left;
  margin-right: 1rem;
}
/* line 97, ../sass/_screen.scss */
form p {
  float: left;
  width: 100%;
}
/* line 101, ../sass/_screen.scss */
form input {
  width: 30px;
  float: right;
}
/* line 105, ../sass/_screen.scss */
form label {
  float: left;
  font-size: 0.75rem;
  line-height: 2rem;
}

/* line 111, ../sass/_screen.scss */
.btn {
  border: none;
  border-radius: 0;
  background-image: none;
  font-family: Montserrat, Helvetica, sans-serif;
  text-shadow: none;
}

/* line 118, ../sass/_screen.scss */
.how-to {
  float: left;
  width: 22rem;
  margin-top: 0.5rem;
}
/* line 122, ../sass/_screen.scss */
.how-to img {
  width: 100%;
}

/* line 128, ../sass/_screen.scss */
map area {
  background: #cc0000;
  display: block;
}
