/* line 5, ../sass/_screen.scss */
h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #000;
  text-shadow: #000;
}

/* line 12, ../sass/_screen.scss */
.jumbotron:after {
  background: url(../img/header.jpg) no-repeat 0 0;
  background-size: cover;
}
